[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "cbor2>=5.6.5",
    "opencv-python>=4.11.0.86",
    "pillow>=11.2.1",
    "pyzbar>=0.1.9",
]
